<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <input type="button" value="发送json请求" onclick="send();"><br>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script>
        function send(){
            $.get(
                "/community/alpha/ajax",
                {"name":"张三", "age":20},
                function(data){
                    console.log(data);
                }
            )
        }
    </script>

</body>
</html>